* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(8, 30, 190, 1) 83%
  );
  color: black;
}
/* MARK: header style */
.header {
  width: 100%;
  height: 100vh;
  background-image: url(image/1stbackground.jpg);
  background-size: cover;
  background-position: center;
}
.cantainer {
  padding: 10px 10%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: wrap;
}
.logo {
  width: 50px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: rgb(242, 255, 0);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
  border-radius: 30px;
}
.header-text {
  margin-top: 20%;
  font-size: 30px;
  color: white;
}
.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}
span {
  color: red;
}
/* MARK: About part */
.about {
  width: 100%;
  padding: 100px 0px;
  background-image: url(image/2nd\ background.jpg);
  background-size: cover;
  background-position: center;
}
.about img {
  height: auto;
  width: 430px;
}
.about-text {
  width: 550px;
}
.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.main img {
  border-radius: 20px;
}
.about-text h2 {
  color: aliceblue;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-text h5 {
  color: aliceblue;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.about-text p {
  color: beige;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
button {
  background-color: red;
  text-decoration: none;
  color: white;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 11px 30px;
  border-radius: 30px;
  transition: 0.4s;
}
button:hover {
  background-color: transparent;
  border: 2px solid red;
  cursor: pointer;
}
/*MARK: Services style*/
.services {
  padding: 30px 0;
  background-image: url(image/3rd\ background.jpg);
  background-size: cover;
  background-position: center;
}
.sub-title {
  color: white;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
  color: white;
}
.services-list div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}
.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}
.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services-list div a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.services-list div:hover {
  background-color: #ff004f;
  transform: translateY(-10px);
}
/*MARK:My work part style */
.portfolio {
  padding: 50px 0;
  background-image: url(image/4th\ background.jpg);
  background-size: cover;
  background-position: center;
}
.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}
.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a {
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}
.work:hover img {
  transform: scale(1.1);
}
.work:hover .layer {
  height: 100%;
}
.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  transition: background 0.5s;
}
.btn:hover {
  background: #ff004f;
}

/* MARK:login */
.login-box {
  position: relative;
  width: 400px;
  height: 450px;
  background: #191919;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
  transition: 0.5s ease;
}

.input-check:checked ~ h2 {
  color: #00f7ff;
  text-shadow: 0 0 15px #00f7ff, 0 0 30px #00f7ff;
}

.input-box {
  position: relative;
  width: 310px;
  margin: 30px 0;
}

.input-box .input-line {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2.5px;
  background: #fff;
  transition: 0.5s ease;
}

.input-check:checked ~ .input-box .input-line {
  background: #00f7ff;
  box-shadow: 0 0 10px #00f7ff;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #fff;
  pointer-events: none;
  transition: 0.5s ease;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-check:checked ~ .input-box label {
  color: #00f7ff;
  text-shadow: 0 0 10px #00f7ff;
}

.input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #fff;
  padding: 0 35px 0 5px;
  transition: 0.5s ease;
}

.input-check:checked ~ .input-box input {
  color: #00f7ff;
  text-shadow: 0 0 5px #00f7ff;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  line-height: 57px;
  transition: 0.5s ease;
}

.input-check:checked ~ .input-box .icon {
  color: #00f7ff;
  filter: drop-shadow(0 0 5px #00f7ff);
}

.remember-forgot {
  color: #fff;
  font-size: 0.9em;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
  transition: 0.5s ease;
}

.input-check:checked ~ .remember-forgot {
  color: #00f7ff;
  text-shadow: 0 0 10px #00f7ff;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
  transition: 0.5s ease;
}

.input-check:checked ~ .remember-forgot label input {
  accent-color: #00f7ff;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
  transition: color 0.5s ease;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.input-check:checked ~ .remember-forgot a {
  color: #00f7ff;
}

.btn-login {
  width: 100%;
  height: 40px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1em;
  color: #191919;
  font-weight: 500;
  transition: 0.5s ease;
}

.input-check:checked ~ button {
  background: #00f7ff;
  box-shadow: 0 0 15px #00f7ff, 0 0 15px #00f7ff;
}

.register-link {
  color: #fff;
  font-size: 0.9em;
  text-align: center;
  margin: 25px 0 10px;
  transition: 0.5s ease;
}

.input-check:checked ~ .register-link {
  color: #00f7ff;
  text-shadow: 0 0 10px #00f7ff;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.5s ease;
}

.register-link p a:hover {
  text-decoration: underline;
}

.input-check:checked ~ .register-link p a {
  color: #00f7ff;
}

.login-light {
  position: relative;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  height: 10px;
  background: #00f7ff;
  border-radius: 20px;
}

.light {
  position: absolute;
  top: -200%;
  left: 0;
  width: 100%;
  height: 950px;
  /* background: linear-gradient(to bottom, rgba(255, 255, 255, .3) -50%, rgba(255, 255, 255, 0) 90%); */
  clip-path: polygon(20% 0, 80% 0, 100% 100%, 0 100%);
  pointer-events: none;
  transition: 0.5s ease;
}

.input-check:checked ~ .light {
  top: -90%;
}

.toggle {
  position: absolute;
  top: 20px;
  right: -70px;
  width: 60px;
  height: 120px;
  background: #191919;
  border-radius: 10px;
}

.toggle::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 45px;
  height: 45px;
  background: #333;
  border: 2px solid #191919;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease;
}

.input-check:checked ~ .toggle::after {
  top: 65px;
}

.input-check {
  position: absolute;
  right: -70px;
  z-index: 1;
  opacity: 0;
}

.toggle .text {
  position: absolute;
  top: 17px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 1em;
  z-index: 1;
  text-transform: uppercase;
  pointer-events: none;
  transition: 0.5s ease;
}

.toggle .text.off {
  opacity: 1;
}

.input-check:checked ~ .toggle .text.off {
  top: 76px;
  opacity: 0;
}

.toggle .text.on {
  opacity: 0;
}

.input-check:checked ~ .toggle .text.on {
  top: 76px;
  opacity: 1;
  color: #00f7ff;
  text-shadow: 0 0 15px #00f7ff, 0 0 30px #00f7ff, 0 0 45px #00f7ff,
    0 0 60px #00f7ff;
}
/* icon */
.Social-icon {
  display: inline-flex;
  margin-top: 10px;
  margin-left: 60px;
  color: white;
}
.Social-icon:hover {
  color: red;
}
/* MARK:footer */
.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.social-icon:hover {
  color: red;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: gray;
  height: 50px;
}
.inp input {
  border-radius: 5px;
}
.inp textarea {
  border-radius: 5px;
}
.footer i {
  color: red;
}
nav .icon {
  display: none;
  color: white;
}
.inp textarea {
  margin-top: 5px;
}
/* media quary */
@media screen and (max-width: 450px) {
  .header {
    background-image: url("image/before.jpg");
  }
  .header-text {
    margin-top: 100%;
    font-size: 16px;
  }
  .header-text p {
    position: absolute;
    margin-top: 150px;
  }
  .header-text h1 {
    font-size: 30px;
  }
  nav .icon {
    display: block;
    color: white;
    font-size: 25px;
  }
  nav ul {
    background-color: #ff004f;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .icon {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  .about-text h2 {
    font-size: 20px;
  }
  .footer p {
    margin-bottom: 30px;
  }
  .container-login {
    margin-left: 35%;
  }
  .about img {
    width: 250px;
  }
  .about-text {
    font-size: 15px;
    margin-left: 10px;
  }
}
